[submodule "plugins/touchJoyPad"]
	path = plugins/touchJoyPad
	url = https://github.com/shinneider/godot_touchJoyPad.git
[submodule "plugins/GodotTouchInputManager"]
	path = plugins/GodotTouchInputManager
	url = https://github.com/Federico-Ciuffardi/GodotTouchInputManager
